html {
    font-size: 16px;
}
#percentages {
    background-color: #6d6875;
    width: 800px;
    height: 800px;
}

#percentages div {
    background-color:#e5989b;
    width: 70%;
    height: 20%;
}


#ems h2 {
    font-size: 2em;
    margin-left: 1em;
}
#ems h3 {
    font-size: 1.5em;
}
#ems p {
    font-size: 1em;
}

#ems {
    font-size: 15px;
}

#ems ul {
    font-size: 1.5em;
}

button {
    font-size: 1em;
    padding: 0 1em;
    border-radius: 0.5em;
    background-color: #2a9d8f;
    color: white;
}


/* button {
    font-size: 30px;
    padding: 0 30px;
    border-radius: 15px;
    background-color: #2a9d8f;
    color: white;
} */

#rems h2{
    font-size: 3rem;
}
#rems h3{
    font-size: 2rem;
}
#rems ul{
    font-size: 1.5rem;
}

#rems button{
    font-size: 1.5rem;
}


/* 
    Ems are relative units - relative to the parent
    with font-size, 1em equals the font-size of the parent. 2em's is twice the font-size of the parent, etc.
    with other properties, 1em is equal to the computed font-size of the element itself
    issues may come while nesting because as the nesting increasing the grows or shrinks more and more

    Rems
    relative to the root html element's font'size. Often easier to work with.
    If the root font-size is 20px, 1 rem is always 20px, 2rem is always 40px, etc.
    
    percentage
    relative unit
    relative to the parent
*/